
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>国际酒店oms订单状态定制</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#mybut").click(function(){
        $.post("test",
        {
          order: $("#firstname").val()
        },
          function(data,status){
          // alert("数据: \n" + data + "\n状态: " + status);
          $("#mydiv").text(data);
        });
      });
    });
  </script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">国际酒店oms订单状态定制</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">订单返现</a></li>
            <li><a href="#about">点评</a></li>
            <li><a href="#contact">订单自动化测试</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              供应商
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">ean</a></li>
                <li><a href="#">booking</a></li>
                <li><a href="#">dotw</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="#">去哪儿</a></li>
                <li><a href="#">智远行</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar-fixed-top/">帮助</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
          <label for="firstname" class="col-sm-2 control-label">订单号：</label>
          <div class="col-sm-10">
            <input type="text" id="firstname" placeholder="请输入可返现的订单号码">
          </div>
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="mybut" class="btn btn-default">提交</button>
          </div>
      <div id="mydiv">werwere</div>
    </div>
  </body>
</html>
